{{ define "main" }}
  <article class="max-w-prose mx-auto mb-24 px-4 space-y-8">

	 {{ partial "page/page-header-with-date.html" . }}

   <section class="flex flex-col space-y-4">
    {{ .Content }}
   </section>

  </article>
{{ end }}