{{ define "main" }}
  <article class="max-w-prose mx-auto mb-24 px-4 space-y-8">

	 {{ partial "page/page-header-with-date.html" . }}

    <section class="max-w-prose mx-auto space-y-8">
      {{ .Content }}
    </section>

    <!-- table of contents -->
    <section class="max-w-prose mx-auto">
      <h2 class="mb-4">Further reading</h2>
        <ul class="ul-reset">
          {{ range sort .RegularPages "Title" }}
              <li><a href="{{ .Permalink }}">{{ .Title }}</a ></li>
          {{ end }}
        </ul>
    </section>

  </article>
{{ end }}