{{ define "main" }}
  <article class="max-w-prose mx-auto mb-24 px-4 space-y-8">

	 {{ partial "page/page-header.html" . }}

    <section class="max-w-prose mx-auto space-y-8">
      {{ .Content }}
    </section>

    <section>
      {{ range sort .Sections }}

        <a href="{{ .Permalink }}"><h2>{{ .Title }}</h2></a>
        <p>{{ .Description }}</p>

        {{ partial "summary/page-summary-card.html" .RegularPages }}

      {{ end }}
    </section>

  </article>
{{ end }}