<ul class="grid grid-cols-1 md:grid-cols-2 gap-x-1 gap-y-2 ul-reset my-4">
	{{ range . }}
		<li class="shadow rounded p-4">
			<a href="{{ .Permalink }}">
				<h3 class="text-lg">{{ .Title }}</h3>
			</a >
			<p>{{ .Summary }}</p>
		</li>
	{{ end}}
</ul>
