<table class="table-fixed w-full">
  <tbody>
  {{ range . }}
	<tr href="{{.Permalink}}" class="table-row">
	  <td class="w-1/4 md:w-1/6">
	  	<time datetime="{{ .PublishDate.Format "2006-01-02T15:04:05.000Z" }}">{{ .PublishDate.Format "2006-01-02" }}</time>
	  </td>
	  <td class="w-3/4 md:w-5/6">
		  <a href="{{ .Permalink }}">{{ .Title }}</a >
	  </td>
	</tr>
  {{ end }}
  </tbody>
</table>