{{ $featured_image := .Param "featured_image"}}
{{ if $featured_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  {{ $featured_image := (trim $featured_image "/") | absURL }}
  <header class="flex h-80 w-full" style="background-image: url('{{ $featured_image }}');">
{{ else }}
  <header class="flex bg-none h-80 w-full">
{{ end }}
    <div class="place-self-center w-full text-center">
      <h1 class="text-4xl md:text-6xl font-thin tracking-widest">
        {{ .Title | default .Site.Title }}
      </h1>
      {{ with .Params.description }}
        <p class="text-lg font-thin tracking-wide mt-4 text-gray-800 dark:text-gray-400">
          {{ . }}
        </p>
      {{ end }}
    </div>
  </header>