<a href="#maincontent" class="sr-only">{{ i18n "skipToMainContent" }}</a>
<nav class="flex justify-between" role="navigation">
  <a href="{{ .Site.Home.RelPermalink }}" class="text-2xl font-thin tracking-wide p-4 align-middle text-current no-underline" title="{{ i18n "home" }}" aria-label="{{ i18n "home" }}">
    {{ with .Site.Params.site_logo }}
      <img src="{{ . }}" class="w-24 h-auto" alt="{{ $.Site.Title }}" />
    {{ else }}
      {{ .Site.Title }}
    {{ end }}
  </a>
    <label class="flex items-center relative">
      <input id="site-nav-button" type="checkbox" role="button" aria-label="site navigation" aria-haspopup="true" aria-controls="site-nav-menu" class="sitenav__mobile sr-only md:hidden">
      <svg class="fill-current m-2 md:hidden" height="32px" width="32px" role="img">
        <title>toggle site nav menu</title>
        <use href="{{ relURL "images/sprite.svg#icon-menu" }}"/>
      </svg>
      {{ if .Site.Menus.main }}
        <ul id="site-nav-menu" role="menu" aria-labelledby="site-nav-button" class="sitenav__menu hidden absolute top-14 right-0 pr-8 py-4 bg-white dark:bg-gray-800 shadow-lg rounded md:static md:block md:bg-transparent md:shadow-none md:rounded-none md:pr-0">
          {{ range .Site.Menus.main }}
          <li class="block m-4 md:inline-block md:m-1">
            <a class="text-current no-underline m-4" href="{{ .URL }}" title="{{ .Name }} page">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      {{ end }}
    </label>
</nav>
