@tailwind base;

@layer base {
	ol {
		@apply list-decimal list-outside pl-4;
	}

	ul:not(.ul-reset) {
		@apply list-disc list-outside pl-4;
	}

	a {
		@apply text-indigo-700 dark:text-indigo-200 underline cursor-pointer focus:ring-2;
	}

	h1 {
		@apply text-3xl;
	}

	h2 {
		@apply text-2xl;
	}

	h3 {
		@apply text-xl;
	}

	h4, h5, h6 {
		@apply text-lg;
	}
	
	pre {
		@apply leading-snug overflow-x-auto;
	}
}

@tailwind components;
@tailwind utilities;

.sitenav__mobile:checked ~ .sitenav__menu {
	@apply block;
}