{{ define "main" }}
  {{ partial "header/site-header.html" . }}
  <article class="max-w-prose mx-auto mb-24 px-4 space-y-8">
    {{ .Content }}

  {{/* Define a section to pull recent posts from. For Hugo 0.20 this will default to the section with the most number of pages. */}}
  {{ $mainSections := .Site.Params.mainSections | default (slice "post") }}
  {{ $rootSections := where .Sections "Section" "in" $mainSections }}
  {{ $n_posts := $.Param "recent_posts_number" }}
  {{ $count := $n_posts }}

  {{ range $rootSections }}
      <section class="max-w-prose mx-auto mt-16">
        <h2 class="my-4">
          {{ i18n "recentTitle" (dict "Count" (int $count) "Title" .Title) }}
        </h2>
        {{ range .Sections }}
          <section class="ml-4">
            <h3 class="my-2">
              {{ if .Content }}
              <a href="{{ .Permalink }}">{{ .Title }}</a>
              {{ else }}
              {{ .Title }}
              {{ end }}
            </h3>
            {{ partial "summary/table.html" (first $count .RegularPages) }}
          </section>
        {{ else }}
          {{ if .RegularPages }}
            {{ if lt (len .RegularPages) $n_posts }}
              {{ $count = len .RegularPages }}
            {{ end }}
            {{ partial "summary/table.html" (first $count .RegularPages) }}
          {{ end }}
        {{end}}
      </section>
    {{ end }}
  </article>
{{ end }}
