{{ if .Site.Params.github }}
<a class="inline-block align-middle mx-2 my-2 hover:bg-gray-100 hover:bg-opacity-20 focus:ring-4" href={{ absURL .Site.Params.github }}>
	<svg class="inline-block fill-current h-8 w-8" role="img">
		<title>GitHub profile</title>
    	<use href="{{ relURL "images/sprite.svg#icon-github" }}"/>
  	</svg>
</a>
{{ end }}
{{ if .Site.Params.gitlab }}
<a class="inline-block align-middle mx-2 my-2 hover:bg-gray-100 hover:bg-opacity-20 focus:ring-4" href={{ absURL .Site.Params.gitlab }}>
	<svg class="inline-block fill-current h-8 w-8" role="img">
		<title>GitLab profile</title>
    	<use href="{{ relURL "images/sprite.svg#icon-gitlab" }}"/>
  	</svg>
</a>
{{ end }}
{{ if .Site.Params.stackoverflow }}
<a class="inline-block align-middle mx-2 my-2 hover:bg-gray-100 hover:bg-opacity-20 focus:ring-4" href={{ absURL .Site.Params.stackoverflow }}>
	<svg class="inline-block fill-current h-8 w-8" role="img">
		<title>Stack Overflow profile</title>
    	<use href="{{ relURL "images/sprite.svg#icon-stackoverflow" }}"/>
  	</svg>
</a>
{{ end }}
{{ if .Site.Params.twitter }}
<a class="inline-block align-middle mx-2 my-2 hover:bg-gray-100 hover:bg-opacity-20 focus:ring-4" href={{ absURL .Site.Params.twitter }}>
	<svg class="inline-block fill-current h-8 w-8" role="img">
		<title>Twitter profile</title>
    	<use href="{{ relURL "images/sprite.svg#icon-twitter" }}"/>
  	</svg>
</a>
{{ end }}