:root {
  --primary-cyan-50: #e1f7fc;
  --primary-cyan-100: #b4ecf7;
  --primary-cyan-200: #82e0f2;
  --primary-cyan-300: #50d3ec;
  --primary-cyan-400: #2bcae6;
  --primary-cyan-500: #11c0e0;
  --primary-cyan-600: #0db0cc;
  --primary-cyan-700: #059bb2;
  --primary-cyan-800: #008799;
  --primary-cyan-900: #00646d;
}

body {
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

.background-samples .samples-wrapper {
  display: flex;
  flex-direction: column;
}
.background-samples .samples-wrapper .sample {
  flex: 1 1 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
  color: #fff;
  font-size: 72px;
  font-style: bold;
}

.stripes-1.sample {
  background: repeating-linear-gradient(45deg, var(--primary-cyan-800) 0, var(--primary-cyan-800) 8px, var(--primary-cyan-700) 0, var(--primary-cyan-700) 7%);
}
.stripes-2.sample {
  background: repeating-linear-gradient(135deg, var(--primary-cyan-800) 0, var(--primary-cyan-800) 8px, var(--primary-cyan-700) 0, var(--primary-cyan-700) 7%);
}
.zigzag-1.sample {
  background:
    linear-gradient(135deg, var(--primary-cyan-800) 25%, transparent 25%) -60px 0, /** 90 * 1  + 45, -1/2x 0y **/
    linear-gradient(225deg, var(--primary-cyan-800) 25%, transparent 25%) -60px 0, /** 90 * 2 + 45, -1/2x 0y **/
    linear-gradient(315deg, var(--primary-cyan-800) 25%, transparent 25%), /** 90 * 3 + 45 0x 0y **/
    linear-gradient(45deg, var(--primary-cyan-800) 25%, var(--primary-cyan-700) 25%); /** 90 * 4 + 45, 0x 0y **/
  background-size: 120px 120px;
}
.dots-1.sample {
  background:
    radial-gradient(var(--primary-cyan-700) 20%, transparent 20%),
    radial-gradient(var(--primary-cyan-700) 10%, var(--primary-cyan-800) 10%) -40px -40px;
  background-size: 80px 80px;
}