{{ define "main" }}
  <article class="max-w-prose mx-auto px-4 space-y-8">

    {{ partial "page/page-header.html" . }}
    
    <section class="max-w-prose mx-auto">
      {{ range .Sections }}
        <a href="{{ .Permalink }}">
          <h2 class="mt-4 mb-2">{{ .Title }}</h2>
        </a>

        {{ partial "summary/table.html" .RegularPages }}

      {{ else }}
        {{ partial "summary/table.html" .RegularPages }}
      {{ end }}
    </section>

    {{ if .Content }}
      <section class="max-w-prose mx-auto">
        {{ .Content }}
      </section>
    {{ end }}
    

  </article>
{{ end }}