{{ define "main" }}
<article class="max-w-prose mx-auto mt-8 mb-24 px-4 space-y-8">

	{{ partial "page/page-header-with-date.html" . }}

	<section class="space-y-8 leading-8">
		{{ .Content }}
	</section>
</article>
{{ end }}