{{ $name := .Get "name" }}
{{ $editorMode := .Get "editorMode" | default "false" }}
<div id="{{ $name }}"></div>
<link rel="stylesheet" href="https://sharp-davinci-8dd914.netlify.app/build/interviews/bundle.css">
<script type="module">
	import { AudioTranscript } from 'https://sharp-davinci-8dd914.netlify.app/build/interviews/bundle.js';

	const app = new AudioTranscript({
	  target: document.getElementById('{{ $name }}'),
	  props: {
	    sources: [
	      {
	        src: './{{ $name }}.webm',
	        type: 'audio/webm',
	      },
	      {
	        src: './{{ $name }}.mp4',
	        type: 'audio/mp4',
	      },
	    ],
	    transcript: {
	      src: './en_{{ $name }}.vtt',
	      lang: 'en',
	    },
	    editorMode: ({{ $editorMode }} === 'true'),
	  }
	});
</script>
<style type="text/css">
	#{{ $name }} {
		--transcript-link-color:  #ff8f00;
		--transcript-highlight-color:  rgba(255, 142, 0, 0.2);
	}
	@media (prefers-color-scheme: dark) {
		#{{ $name }} {
			--transcript-link-color:  #ffe082;
			--transcript-highlight-color:  rgba(255, 224, 130, 0.2);
		}
	}
</style>
