{{ $bgCss := .Get "bg-css" }}
{{ $textCss := .Get "text-css" }}
{{ $text := .Get "text" | default "text-current" }}
{{ $title := .Get "title" }}
{{ $ariaDescription := .Get "aria-description" }}

<div class="flex justify-center align-items-center shadow rounded p-8 {{ $text }}" style="{{ $bgCss | safeCSS }} padding: 16% 0;">
	<span class="text-4xl py-4 w-full text-center" style="{{ $textCss | safeCSS }}">{{ $title }}<span>
	<span class="sr-only">{{ $ariaDescription }}</span>
</div>