@page {
  size: A portrait;
  margin: 1in 0.5in 0.5in 0.5in;
}
.print-on {
  display: initial;
}
.print-off {
  display: none;
}

article {
  display: grid;
  grid-template-columns: minmax(40vw, 600px) 200px;
  grid-gap: 0.6em 1em;
  margin: 0;
}
section {
  margin: 0.6em 0;
}
h2 {
  margin-bottom: 0.6em;
}
p {
  margin: 0.6em 0;
}
nav {
  display: none;
}

.h2 {
  font-size: 36pt;
}
.h3 {
  font-size: 12pt;
}
.sub1 {
  font-size: 8pt;
}
.sub2 {
  font-size: 6pt;
}
.body1 {
  font-size: 10pt;
}
.body2 {
  font-size: 8pt;
}

.social-link {
  display: block;
  height: auto;
  width: auto;
  margin: 0;
}
.skills-list > li {
  margin: 0.6em 0;
}