:root {
  --font-family-serif: 'Noto Serif SC', serif;
  --font-family-sans-serif: 'Lato', sans-serif;
  --color-surface: #fff;
  --color-text-high-emphasis: rgba(0, 0, 0, 0.87);
  --color-text-med-emphasis: rgba(0, 0, 0, 0.60);
  --color-primary: #0c74dc; /** 700 **/
}

/** typography (https://material.io/design/typography/the-type-system.html#type-scale) **/
.h1 {
  font-size: 96px;
  letter-spacing: -1.5px;
  font-weight: 200;
}
.h2 {
  font-size: 60px;
  letter-spacing: -0.5px;
  font-weight: 200;
}
.h3 {
  font-size: 48px;
  letter-spacing: 0;
  font-weight: normal;
}
.sub1 {
  font-size: 16px;
  letter-spacing: 0.15px;
  font-weight: normal;
}
.sub2 {
  font-size: 14px;
  letter-spacing: 0.1px;
  font-weight: normal;
}
.body1 {
  font-size: 16px;
  letter-spacing: 0.15px;
  font-weight: normal;
}
.body2 {
  font-size: 14px;
  letter-spacing: 0.25px;
  font-weight: normal;
}

/** color **/
.primary-color {
  color: var(--color-primary);
}

/** additional resets **/
body {
  font-family: var(--font-family-serif);
  color: var(--color-text-high-emphasis);
  fill: currentColor;
  background-color: var(--color-surface);
}

article {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px 24px;
  max-width: max-content;
  margin: 64px auto 72px;
  padding-left: 12px;
  padding-right: 12px;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
}

h2 {
  margin-bottom: 16px;
}

section {
  margin: 8px 0 16px 0;
}

/** semantic styles **/
.skills-list > li {
  margin: 12px 0 16px;
}

.social-link {
  display: inline-block;
  height: 32px;
  width: 32px;
  margin: 16px 4px;
}

/** atomic styles **/
.sans-serif {
  font-family: var(--font-family-sans-serif);
}

.text-med {
  color: var(--color-text-med-emphasis);
}

.font-style-normal {
  font-style: normal;
}

.upper {
  text-transform: uppercase;
}

.inline-block {
  display: inline-block;
}

.print-on {
  display: none;
}
.print-off {
  display: initial;
}

@media (min-width: 700px) {
  article {
    grid-template-columns: minmax(40vw, 600px) 200px;
  }
}

@media screen {
  :root.dark {
    --color-surface: #121212;
    --color-text-high-emphasis: rgba(255, 255, 255, 0.87);
    --color-text-med-emphasis: rgba(255, 255, 255, 0.60);
    --color-primary: #37A4FF;  /** 400 **/
  }
}

@media screen and (prefers-color-scheme: dark) {
  :root:not(.light) {
    --color-surface: #121212;
    --color-text-high-emphasis: rgba(255, 255, 255, 0.87);
    --color-text-med-emphasis: rgba(255, 255, 255, 0.60);
    --color-primary: #37A4FF;  /** 400 **/
  }
}