{{ $featured_image := .Param "featured_image"}}
{{ if $featured_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  {{ $featured_image := (trim $featured_image "/") | absURL }}
  <header class="flex h-40 my-4 w-full" style="background-image: url('{{ $featured_image }}');">
{{ else }}
  <header class="my-4">
{{ end }}
      <h1 class="text-3xl md:text-5xl">
        {{ .Title | default .Site.Title }}
      </h1>
      {{ with .Params.description }}
        <p class="text-lg font-thin tracking-wide mt-4 text-gray-800 dark:text-gray-400">
          {{ . }}
        </p>
      {{ end }}
  </header>