<header>
	<p class="text-lg mb-8 font-light">
		{{ .FirstSection.Title | singularize | upper }}
	</p>
	<h1 class="text-3xl md:text-4xl mb-4">
		{{ .Title }}
	</h1>
	{{ if .Date }}
		<time class="inline-block mb-4" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
	{{ end }}
	{{ if ne .Lastmod .Date}}
		(Last updated <time class="inline-block mb-4" datetime="{{ .Lastmod.Format "2006-01-02" }}">{{ .Lastmod.Format "January 2, 2006" }}</time>)
	{{ end }}
</header>